# PCAD Notebook 2

This notebook processes the clustered and cleaned print and electronic data produced by PCAD notebook 1, adds p/e tracking data, and melts group IDs for OCLC numbers and ISSNs. It produces a single merged dataframe with an ISSN matchpoint for further operations.

Required files/inputs:
- `cleaned_print_{date}.pkl` file produced by PCAD Notebook 1 from print data
- `cleaned_e_{date}.pkl` file produced by PCAD Notebook 1 from electronic data

Outputs:
- `p_and_e_{date}.pkl` file of merged and enhanced data (this is the main dataframe)

In [8]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from datetime import date
today = str(date.today()).replace('-','')

In [9]:
#change filenames
pdf = pd.read_pickle('cleaned_print_20201106.pkl')
edf = pd.read_pickle('cleaned_e_20201106.pkl')
print(pdf.shape)
print(edf.shape)

(103137, 10)
(25961, 10)

#### Add a column called "p_or_e" where we can track if the record came from the physical serials batch or the matched electronic records we pulled from Alma sets

In [10]:
pdf['p_or_e'] = 'p'
pdf

,MMS_ID,Title,OCN,ISSN,Related_OCNs,Related_ISSNs,Vol_nos,Gov_doc_nos,OCN_cluster,ISSN_cluster,p_or_e
0,9920341180001701,Tutkimuksia Suomen maatalouden kannattavuudesta =,[9104278],[0438-9808],[],[],[],[],[9104278],[0438-9808],p
0,9920358800001701,Pakistan,[25380502],[1061-6101],[],[],[],[],[25380502],[1061-6101],p
0,9920370170001701,Abhandlungen der Königlich Preussischen Akade...,[10333878],[0233-2728],[],[],[],[],[10333878],[0233-2728],p
0,9920380570001701,Zhongguo dian ying nian jian /,[9179105],[],[],[],[],[],[9179105],[],p
0,9920446280001701,Sports 'n spokes,[1114948794],[0161-6706],[],[],[],[],[1114948794],[0161-6706],p
...,...,...,...,...,...,...,...,...,...,...,...
0,9959871440001701,"Outlook (New York, N.Y. : 1893)",[5361126],[],[],[],[],[],[5361126],[],p
0,9959879870001701,Profile of health plans and utilization review...,[38314157],[],[],[],[],[],[38314157],[],p
0,9959887230001701,"Economic survey, Finland",[38364450],[1239-209X],[],"[1455-7606, 0532-9280]",[],[],[38364450],"[0532-9280, 1455-7606, 1239-209X]",p
0,9959892490001701,Aakrosh :,[41503026],[0971-7862],[],[],[],[],[41503026],[0971-7862],p
0,9959899650001701,International review of connective tissue rese...,[1753690],[0074-767X],[],[],[],[],[1753690],[0074-767X],p

In [11]:
edf['p_or_e'] = 'e'
edf

,MMS_ID,Title,OCN,ISSN,Related_OCNs,Related_ISSNs,Vol_nos,Gov_doc_nos,OCN_cluster,ISSN_cluster,p_or_e
0,9912490700001701,Whittington and his cat.,[642758868],[],[],[],[],[],[642758868],[],e
0,9914024810001701,Thank you for meeting with me to prepare your ...,[56313931],[],[],[],[4339.],[T 22.44/2:4339],[56313931],[],e
0,9915256360001701,Battleground Chicago :,[57560036],[],"[905749810, 55600826, 991936001, 149214895, 10...",[],[],[],"[1020529306, 149214895, 57560036, 55600826, 99...",[],e
0,9915894870001701,Strengthening forest law enforcement and gover...,[156899011],[],[],[],[],[],[156899011],[],e
0,9916471080001701,"An astronomical diary, or an almanack, for the...",[62820167],[],[],[],[no. 6930.],[],[62820167],[],e
...,...,...,...,...,...,...,...,...,...,...,...
0,9977136268101701,F©œldtani k©œzl©œny,[1569510],[0015-542X],[],[],[],[],[1569510],[0015-542X],e
0,9977149036101701,Corporate report Wisconsin,[12795345],[],[],[0890-4278],[],[],[12795345],[0890-4278],e
0,9977149197201701,Surveying and land information systems,[21396434],[1052-2905],[],[],[],[],[21396434],[1052-2905],e
0,9977149202001701,Engineering,[1567895],[0013-7782],[],[],[],[],[1567895],[0013-7782],e
0,9977163433601701,The rights of refugees under international law,[252490921],[],[],[],[],[],[252490921],[],e

#### Combine p df and e df into one df

In [12]:
#Next two lines to help verify that dataframes have the same columns, if necessary
edf.columns
pdf.columns
epdf = pd.concat([pdf,edf],ignore_index=True)
epdf

,MMS_ID,Title,OCN,ISSN,Related_OCNs,Related_ISSNs,Vol_nos,Gov_doc_nos,OCN_cluster,ISSN_cluster,p_or_e
0,9920341180001701,Tutkimuksia Suomen maatalouden kannattavuudesta =,[9104278],[0438-9808],[],[],[],[],[9104278],[0438-9808],p
1,9920358800001701,Pakistan,[25380502],[1061-6101],[],[],[],[],[25380502],[1061-6101],p
2,9920370170001701,Abhandlungen der Königlich Preussischen Akade...,[10333878],[0233-2728],[],[],[],[],[10333878],[0233-2728],p
3,9920380570001701,Zhongguo dian ying nian jian /,[9179105],[],[],[],[],[],[9179105],[],p
4,9920446280001701,Sports 'n spokes,[1114948794],[0161-6706],[],[],[],[],[1114948794],[0161-6706],p
...,...,...,...,...,...,...,...,...,...,...,...
129093,9977136268101701,F©œldtani k©œzl©œny,[1569510],[0015-542X],[],[],[],[],[1569510],[0015-542X],e
129094,9977149036101701,Corporate report Wisconsin,[12795345],[],[],[0890-4278],[],[],[12795345],[0890-4278],e
129095,9977149197201701,Surveying and land information systems,[21396434],[1052-2905],[],[],[],[],[21396434],[1052-2905],e
129096,9977149202001701,Engineering,[1567895],[0013-7782],[],[],[],[],[1567895],[0013-7782],e
129097,9977163433601701,The rights of refugees under international law,[252490921],[],[],[],[],[],[252490921],[],e

#### Define tidy data function (melt_group_ids()) for issns and ocns

In [13]:
def melt_group_ids ( df, identifier_column, identifier_name, group_name ):
    
    # This function takes a column of multi-valued cells in a dataframe, explodes them out into single-valued cells still 
    # linked to their row ID.  This data is then merged with a database-style join with the input dataframe

    melted_ids = pd.concat([pd.DataFrame(v, index=np.repeat(k,len(v)))
                              for k,v in df[identifier_column].to_dict().items()])
    melted_ids = melted_ids.rename(columns={0:identifier_name})
    print('melted')
    print(melted_ids.columns)

    df2 = pd.DataFrame()
    df2 = pd.merge(df,melted_ids,how="inner",left_index=True,right_index=True)
    df2 = df2.reset_index()
    df2 = df2.rename(columns={"index":"record_index"})
    print('merged')
    print(df2.columns)

    df3 = pd.DataFrame()
    df3 = df2.groupby([identifier_name]).ngroup()
    print('grouped')

    groups = df3.to_frame()
    groups.rename(columns={0: group_name + '_group_id' },inplace=True)
    print(groups.columns)
    
    eg = pd.merge(df2[['record_index']],groups,left_index=True,right_index=True, how="inner")
    
    print(eg.columns)
    
    df6 = pd.DataFrame()
    df6 = eg.groupby(['record_index']).agg(lambda x: list(set(x))).reset_index()
    print('re-grouped')
    print(df6.columns)
    
    while df6[group_name + '_group_id'].str.len().max() > 1:
        for each in tqdm(df6[group_name + '_group_id'],desc="reducing progress", unit="records"):
            if len(each) > 1:
                #print(each)
                val = each[0]
                for x in each[1:]:
                    #print(x)
                    eg[group_name + '_group_id'][eg[group_name + '_group_id'] == x] = val
                    eg.drop_duplicates(inplace=True)
        df6 = pd.DataFrame()
        df6 = eg.groupby(['record_index']).agg(lambda x: list(set(x))).reset_index()
    eg = eg.sort_values([group_name + '_group_id'])
    
    print('merging back into df')
    eg1 = pd.merge(df,eg,how='left',left_index=True,right_on='record_index')
    eg1.set_index('record_index',inplace=True)
    
    
    matches = eg1[eg1[group_name + '_group_id'].notnull()]
    matches[group_name + '_group_id'] = matches[group_name + '_group_id'].astype(int)
    group_ids = sorted(list(set(matches[group_name + '_group_id'])))
    group_ids = list(map(int, group_ids))
    group_list = list(range(0,len(group_ids)))
    group_list = list(map(int, group_list))
    group_dict = dict(zip(group_ids,group_list))
    
    matches[group_name + '_group_id'].replace(group_dict, inplace=True)
    
    no_matches = eg1[eg1[group_name + '_group_id'].isnull()]
    no_matches[group_name + '_group_id'] = list(range(len(group_ids),len(group_ids)+len(no_matches)))
    output = pd.concat([matches,no_matches])
    output.sort_values(group_name + '_group_id',inplace=True)
    
    return output

#### Run melt_group_ids() function for ISSNs

In [14]:
df_issns = melt_group_ids ( epdf, 'ISSN_cluster', 'ISSN_y', 'ISSN' )
df_issns

melted
Index(['ISSN_y'], dtype='object')
merged
Index(['record_index', 'MMS_ID', 'Title', 'OCN', 'ISSN', 'Related_OCNs',
       'Related_ISSNs', 'Vol_nos', 'Gov_doc_nos', 'OCN_cluster',
       'ISSN_cluster', 'p_or_e', 'ISSN_y'],
      dtype='object')
grouped
Index(['ISSN_group_id'], dtype='object')
Index(['record_index', 'ISSN_group_id'], dtype='object')
re-grouped
Index(['record_index', 'ISSN_group_id'], dtype='object')

reducing progress: 100%|████████████████████████████████████████████████| 72826/72826 [03:11<00:00, 379.66records/s]
reducing progress: 100%|███████████████████████████████████████████████| 72826/72826 [00:11<00:00, 6289.67records/s]
reducing progress: 100%|██████████████████████████████████████████████| 72826/72826 [00:00<00:00, 80566.93records/s]
reducing progress: 100%|█████████████████████████████████████████████| 72826/72826 [00:00<00:00, 282274.04records/s]
reducing progress: 100%|█████████████████████████████████████████████| 72826/72826 [00:00<00:00, 570852.08records/s]
reducing progress: 100%|█████████████████████████████████████████████| 72826/72826 [00:00<00:00, 983601.14records/s]

merging back into df

C:\Users\trail001\AppData\Local\Continuum\anaconda3\envs\isbnhld\lib\site-packages\ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\trail001\AppData\Local\Continuum\anaconda3\envs\isbnhld\lib\site-packages\pandas\core\generic.py:6786: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
C:\Users\trail001\AppData\Local\Continuum\anaconda3\envs\isbnhld\lib\site-packages\ipykernel_launcher.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,MMS_ID,Title,OCN,ISSN,Related_OCNs,Related_ISSNs,Vol_nos,Gov_doc_nos,OCN_cluster,ISSN_cluster,p_or_e,ISSN_group_id
record_index,,,,,,,,,,,,
87349,9935224330001701,Publishers' world.,[988619],[0555-6384],"[2489456, 567791231, 1695359]",[0000-0019],[],[],"[567791231, 1695359, 988619, 2489456]","[0000-0019, 0555-6384]",p,0
60626,9934112930001701,Publishers weekly,[2489456],[0000-0019],"[37309426, 9604938]","[0000-0019, 000--0019, 0000-0469, 2150-4008]",[],[],"[37309426, 9604938, 2489456]","[2150-4008, 0000-0469, 0000-0019]",p,0
52478,9937257820001701,The Book publishing annual,[1114932096],[0000-0787],[],[0000-0019],[],[],[1114932096],"[0000-0787, 0000-0019]",p,0
105258,9967008940001701,Publishers weekly,[37309426],[2150-4008],[],[0000-0019],[],[],[37309426],"[2150-4008, 0000-0019]",e,0
58136,9913446020001701,Publishers weekly yearbook,[9604938],[0000-0469],[],[0000-0019],[],[],[9604938],"[0000-0469, 0000-0019]",p,0
...,...,...,...,...,...,...,...,...,...,...,...,...
129083,9977106226701701,Research programs of the U.S. Bureau of Mines,[58596669],[],[],[],[],[],[58596669],[],e,103450
129084,9977106288001701,Towards a sustainable recovery,[785779466],[],[],[],[],[],[785779466],[],e,103451
129085,9977106545201701,Unhooking from Whiteness :,[865106949],[],[],[],[6.],[],[865106949],[],e,103452
129086,9977118904301701,Geoenvironmental engineering,[299108498],[],[],[],[],[],[299108498],[],e,103453
129097,9977163433601701,The rights of refugees under international law,[252490921],[],[],[],[],[],[252490921],[],e,103454

In [15]:
df_issns.sort_index()

,MMS_ID,Title,OCN,ISSN,Related_OCNs,Related_ISSNs,Vol_nos,Gov_doc_nos,OCN_cluster,ISSN_cluster,p_or_e,ISSN_group_id
record_index,,,,,,,,,,,,
0,9920341180001701,Tutkimuksia Suomen maatalouden kannattavuudesta =,[9104278],[0438-9808],[],[],[],[],[9104278],[0438-9808],p,24110
1,9920358800001701,Pakistan,[25380502],[1061-6101],[],[],[],[],[25380502],[1061-6101],p,36045
2,9920370170001701,Abhandlungen der Königlich Preussischen Akade...,[10333878],[0233-2728],[],[],[],[],[10333878],[0233-2728],p,17151
3,9920380570001701,Zhongguo dian ying nian jian /,[9179105],[],[],[],[],[],[9179105],[],p,47183
4,9920446280001701,Sports 'n spokes,[1114948794],[0161-6706],[],[],[],[],[1114948794],[0161-6706],p,14948
...,...,...,...,...,...,...,...,...,...,...,...,...
129093,9977136268101701,F©œldtani k©œzl©œny,[1569510],[0015-542X],[],[],[],[],[1569510],[0015-542X],e,2563
129094,9977149036101701,Corporate report Wisconsin,[12795345],[],[],[0890-4278],[],[],[12795345],[0890-4278],e,31641
129095,9977149197201701,Surveying and land information systems,[21396434],[1052-2905],[],[],[],[],[21396434],[1052-2905],e,35481
129096,9977149202001701,Engineering,[1567895],[0013-7782],[],[],[],[],[1567895],[0013-7782],e,2261
129097,9977163433601701,The rights of refugees under international law,[252490921],[],[],[],[],[],[252490921],[],e,103454

In [16]:
#Change filenames
df_issns.to_pickle(f'epdf_issns_grouped_{today}.pkl')
df_issns.to_csv(f'epdf_issns_grouped_{today}.txt',sep='\t')

#### Run melt_group_ids() function for OCNs

In [17]:
df_ocns = melt_group_ids ( df_issns, 'OCN_cluster', 'OCN_y', 'OCN' )
df_ocns

melted
Index(['OCN_y'], dtype='object')
merged
Index(['record_index', 'MMS_ID', 'Title', 'OCN', 'ISSN', 'Related_OCNs',
       'Related_ISSNs', 'Vol_nos', 'Gov_doc_nos', 'OCN_cluster',
       'ISSN_cluster', 'p_or_e', 'ISSN_group_id', 'OCN_y'],
      dtype='object')
grouped
Index(['OCN_group_id'], dtype='object')
Index(['record_index', 'OCN_group_id'], dtype='object')
re-grouped
Index(['record_index', 'OCN_group_id'], dtype='object')

reducing progress: 100%|██████████████████████████████████████████████| 127237/127237 [09:18<00:00, 227.74records/s]
reducing progress: 100%|████████████████████████████████████████████| 127237/127237 [00:10<00:00, 12514.22records/s]
reducing progress: 100%|████████████████████████████████████████████| 127237/127237 [00:01<00:00, 65912.46records/s]
reducing progress: 100%|███████████████████████████████████████████| 127237/127237 [00:01<00:00, 112396.75records/s]
reducing progress: 100%|███████████████████████████████████████████| 127237/127237 [00:00<00:00, 151461.29records/s]
reducing progress: 100%|███████████████████████████████████████████| 127237/127237 [00:00<00:00, 183537.17records/s]
reducing progress: 100%|███████████████████████████████████████████| 127237/127237 [00:00<00:00, 241050.41records/s]
reducing progress: 100%|███████████████████████████████████████████| 127237/127237 [00:00<00:00, 301288.41records/s]
reducing progress: 100%|███████████████████████████████████████████| 127237/127237 [00:00<00:00, 647444.85records/s]

merging back into df

C:\Users\trail001\AppData\Local\Continuum\anaconda3\envs\isbnhld\lib\site-packages\ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\trail001\AppData\Local\Continuum\anaconda3\envs\isbnhld\lib\site-packages\ipykernel_launcher.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,MMS_ID,Title,OCN,ISSN,Related_OCNs,Related_ISSNs,Vol_nos,Gov_doc_nos,OCN_cluster,ISSN_cluster,p_or_e,ISSN_group_id,OCN_group_id
record_index,,,,,,,,,,,,,
105867,9977176693001701,Paraphrasis in omnes epistolas Apostolicas.,[944177912],[],[(OCoLC)1002244040],[],[],[],"[944177912, (OCoLC)1002244040]",[],e,97748,0
108037,9977166332001701,The Grammar of Attic Inscriptions.,[979747922],[],[(OCoLC)1011439387],[],[],[],"[979747922, (OCoLC)1011439387]",[],e,98302,1
119392,9977176707601701,When Television was Young :,[944177246],[],[(OCoLC)1013946339],[],[],[],"[(OCoLC)1013946339, 944177246]",[],e,101278,2
127588,9975720543401701,Moskaus spuren in Ostdeutschland 1945 bis 1949 :,[920780121],[],[(OCoLC)1013950907],[],[Band 22.],[],"[920780121, (OCoLC)1013950907]",[],e,103225,3
120765,9976895243601701,Scientists at War :,[905969803],[],[(OCoLC)1013954240],[],[],[],"[905969803, (OCoLC)1013954240]",[],e,101705,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
117940,9975297262301701,SEC today (CCH).,[],[],[],[0745-2667 (print)],[],[],[],[],e,100923,118674
118942,9975297322401701,Search & seizure bulletin.,[],[],[],[0037-0193 (print)],[],[],[],[],e,101048,118675
120184,9975297304901701,Federal postconviction remedies handbook.,[],[],[],[1932-2151 (print)],[],[],[],[],e,101519,118676
122673,9977114779201701,Annales de la Société entomologique de France ...,[],[],[],[],[],[],[],[],e,102205,118677
127395,9975297085901701,Bankruptcy evidence manual /,[],[1059-2873 (print)],[],[],[],[],[],[],e,103187,118678

In [18]:
df = df_ocns

#### Normalize the two group ids into one group id

In [19]:
df['ISSN_group_id']= df['ISSN_group_id'].apply(lambda x: [str(int(x)) + 'i'])
df

,MMS_ID,Title,OCN,ISSN,Related_OCNs,Related_ISSNs,Vol_nos,Gov_doc_nos,OCN_cluster,ISSN_cluster,p_or_e,ISSN_group_id,OCN_group_id
record_index,,,,,,,,,,,,,
105867,9977176693001701,Paraphrasis in omnes epistolas Apostolicas.,[944177912],[],[(OCoLC)1002244040],[],[],[],"[944177912, (OCoLC)1002244040]",[],e,[97748i],0
108037,9977166332001701,The Grammar of Attic Inscriptions.,[979747922],[],[(OCoLC)1011439387],[],[],[],"[979747922, (OCoLC)1011439387]",[],e,[98302i],1
119392,9977176707601701,When Television was Young :,[944177246],[],[(OCoLC)1013946339],[],[],[],"[(OCoLC)1013946339, 944177246]",[],e,[101278i],2
127588,9975720543401701,Moskaus spuren in Ostdeutschland 1945 bis 1949 :,[920780121],[],[(OCoLC)1013950907],[],[Band 22.],[],"[920780121, (OCoLC)1013950907]",[],e,[103225i],3
120765,9976895243601701,Scientists at War :,[905969803],[],[(OCoLC)1013954240],[],[],[],"[905969803, (OCoLC)1013954240]",[],e,[101705i],4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
117940,9975297262301701,SEC today (CCH).,[],[],[],[0745-2667 (print)],[],[],[],[],e,[100923i],118674
118942,9975297322401701,Search & seizure bulletin.,[],[],[],[0037-0193 (print)],[],[],[],[],e,[101048i],118675
120184,9975297304901701,Federal postconviction remedies handbook.,[],[],[],[1932-2151 (print)],[],[],[],[],e,[101519i],118676
122673,9977114779201701,Annales de la Société entomologique de France ...,[],[],[],[],[],[],[],[],e,[102205i],118677
127395,9975297085901701,Bankruptcy evidence manual /,[],[1059-2873 (print)],[],[],[],[],[],[],e,[103187i],118678

In [20]:
df['OCN_group_id']= df['OCN_group_id'].apply(lambda x: [str(int(x)) + 'o'])
df

,MMS_ID,Title,OCN,ISSN,Related_OCNs,Related_ISSNs,Vol_nos,Gov_doc_nos,OCN_cluster,ISSN_cluster,p_or_e,ISSN_group_id,OCN_group_id
record_index,,,,,,,,,,,,,
105867,9977176693001701,Paraphrasis in omnes epistolas Apostolicas.,[944177912],[],[(OCoLC)1002244040],[],[],[],"[944177912, (OCoLC)1002244040]",[],e,[97748i],[0o]
108037,9977166332001701,The Grammar of Attic Inscriptions.,[979747922],[],[(OCoLC)1011439387],[],[],[],"[979747922, (OCoLC)1011439387]",[],e,[98302i],[1o]
119392,9977176707601701,When Television was Young :,[944177246],[],[(OCoLC)1013946339],[],[],[],"[(OCoLC)1013946339, 944177246]",[],e,[101278i],[2o]
127588,9975720543401701,Moskaus spuren in Ostdeutschland 1945 bis 1949 :,[920780121],[],[(OCoLC)1013950907],[],[Band 22.],[],"[920780121, (OCoLC)1013950907]",[],e,[103225i],[3o]
120765,9976895243601701,Scientists at War :,[905969803],[],[(OCoLC)1013954240],[],[],[],"[905969803, (OCoLC)1013954240]",[],e,[101705i],[4o]
...,...,...,...,...,...,...,...,...,...,...,...,...,...
117940,9975297262301701,SEC today (CCH).,[],[],[],[0745-2667 (print)],[],[],[],[],e,[100923i],[118674o]
118942,9975297322401701,Search & seizure bulletin.,[],[],[],[0037-0193 (print)],[],[],[],[],e,[101048i],[118675o]
120184,9975297304901701,Federal postconviction remedies handbook.,[],[],[],[1932-2151 (print)],[],[],[],[],e,[101519i],[118676o]
122673,9977114779201701,Annales de la Société entomologique de France ...,[],[],[],[],[],[],[],[],e,[102205i],[118677o]
127395,9975297085901701,Bankruptcy evidence manual /,[],[1059-2873 (print)],[],[],[],[],[],[],e,[103187i],[118678o]

In [21]:
df['both_groups'] = df['ISSN_group_id'] + df['OCN_group_id']
df

,MMS_ID,Title,OCN,ISSN,Related_OCNs,Related_ISSNs,Vol_nos,Gov_doc_nos,OCN_cluster,ISSN_cluster,p_or_e,ISSN_group_id,OCN_group_id,both_groups
record_index,,,,,,,,,,,,,,
105867,9977176693001701,Paraphrasis in omnes epistolas Apostolicas.,[944177912],[],[(OCoLC)1002244040],[],[],[],"[944177912, (OCoLC)1002244040]",[],e,[97748i],[0o],"[97748i, 0o]"
108037,9977166332001701,The Grammar of Attic Inscriptions.,[979747922],[],[(OCoLC)1011439387],[],[],[],"[979747922, (OCoLC)1011439387]",[],e,[98302i],[1o],"[98302i, 1o]"
119392,9977176707601701,When Television was Young :,[944177246],[],[(OCoLC)1013946339],[],[],[],"[(OCoLC)1013946339, 944177246]",[],e,[101278i],[2o],"[101278i, 2o]"
127588,9975720543401701,Moskaus spuren in Ostdeutschland 1945 bis 1949 :,[920780121],[],[(OCoLC)1013950907],[],[Band 22.],[],"[920780121, (OCoLC)1013950907]",[],e,[103225i],[3o],"[103225i, 3o]"
120765,9976895243601701,Scientists at War :,[905969803],[],[(OCoLC)1013954240],[],[],[],"[905969803, (OCoLC)1013954240]",[],e,[101705i],[4o],"[101705i, 4o]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117940,9975297262301701,SEC today (CCH).,[],[],[],[0745-2667 (print)],[],[],[],[],e,[100923i],[118674o],"[100923i, 118674o]"
118942,9975297322401701,Search & seizure bulletin.,[],[],[],[0037-0193 (print)],[],[],[],[],e,[101048i],[118675o],"[101048i, 118675o]"
120184,9975297304901701,Federal postconviction remedies handbook.,[],[],[],[1932-2151 (print)],[],[],[],[],e,[101519i],[118676o],"[101519i, 118676o]"
122673,9977114779201701,Annales de la Société entomologique de France ...,[],[],[],[],[],[],[],[],e,[102205i],[118677o],"[102205i, 118677o]"
127395,9975297085901701,Bankruptcy evidence manual /,[],[1059-2873 (print)],[],[],[],[],[],[],e,[103187i],[118678o],"[103187i, 118678o]"

In [22]:
def both_group_ids ( df, identifier_column, identifier_name, group_name ):

    melted_ids = pd.concat([pd.DataFrame(v, index=np.repeat(k,len(v)))
                              for k,v in df[identifier_column].to_dict().items()])
    melted_ids = melted_ids.rename(columns={0:identifier_name})
    print('melted')
    print(melted_ids.columns)

    df2 = pd.DataFrame()
    df2 = pd.merge(df,melted_ids,how="inner",left_index=True,right_index=True)
    df2 = df2.reset_index()
    df2 = df2.rename(columns={"index":"record_index"})
    print('merged')
    print(df2.columns)

    df3 = pd.DataFrame()
    df3 = df2.groupby([identifier_name]).ngroup()
    print('grouped')

    groups = df3.to_frame()
    groups.rename(columns={0: group_name + '_group_id' },inplace=True)
    print(groups.columns)
    
    eg = pd.merge(df2[['record_index']],groups,left_index=True,right_index=True, how="inner")
    
    print(eg.columns)
    
    df6 = pd.DataFrame()
    df6 = eg.groupby(['record_index']).agg(lambda x: list(set(x))).reset_index()
    print('re-grouped')
    print(df6.columns)
    
    while df6[group_name + '_group_id'].str.len().max() > 1:
        for each in tqdm(df6[group_name + '_group_id'],desc="reducing progress", unit="records"):
            if len(each) > 1:
                #print(each)
                val = each[0]
                for x in each[1:]:
                    #print(x)
                    eg[group_name + '_group_id'][eg[group_name + '_group_id'] == x] = val
                    eg.drop_duplicates(inplace=True)
        df6 = pd.DataFrame()
        df6 = eg.groupby(['record_index']).agg(lambda x: list(set(x))).reset_index()
    eg = eg.sort_values([group_name + '_group_id'])
    
    print('merging back into df')
    eg1 = pd.merge(df,eg,how='left',left_index=True,right_on='record_index')
    eg1.set_index('record_index',inplace=True)
    
    return eg1

In [23]:
pe_df = both_group_ids ( df, 'both_groups', 'matches', 'matches' )
pe_df

melted
Index(['matches'], dtype='object')
merged
Index(['record_index', 'MMS_ID', 'Title', 'OCN', 'ISSN', 'Related_OCNs',
       'Related_ISSNs', 'Vol_nos', 'Gov_doc_nos', 'OCN_cluster',
       'ISSN_cluster', 'p_or_e', 'ISSN_group_id', 'OCN_group_id',
       'both_groups', 'matches'],
      dtype='object')
grouped
Index(['matches_group_id'], dtype='object')
Index(['record_index', 'matches_group_id'], dtype='object')
re-grouped
Index(['record_index', 'matches_group_id'], dtype='object')

reducing progress: 100%|█████████████████████████████████████████████| 129098/129098 [1:06:41<00:00, 32.26records/s]
reducing progress: 100%|██████████████████████████████████████████████| 129098/129098 [03:18<00:00, 648.98records/s]
reducing progress: 100%|█████████████████████████████████████████████| 129098/129098 [00:27<00:00, 4674.03records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:11<00:00, 11152.84records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:09<00:00, 13422.88records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:09<00:00, 13738.05records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:09<00:00, 13659.58records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:09<00:00, 14209.30records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:08<00:00, 14819.41records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:08<00:00, 15900.86records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:08<00:00, 15779.33records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:07<00:00, 16155.08records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:07<00:00, 17048.13records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:07<00:00, 17485.94records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:07<00:00, 17267.23records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:07<00:00, 17894.13records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:06<00:00, 18499.14records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:06<00:00, 18463.92records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:07<00:00, 18397.87records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:06<00:00, 19616.90records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:06<00:00, 20012.62records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:06<00:00, 20830.96records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:05<00:00, 22267.47records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:06<00:00, 21448.66records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:06<00:00, 21508.74records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:05<00:00, 21963.72records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:05<00:00, 22774.94records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:05<00:00, 23267.15records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:05<00:00, 22830.93records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:05<00:00, 23746.64records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:05<00:00, 23267.39records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:05<00:00, 23954.11records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:04<00:00, 26925.89records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:04<00:00, 26934.01records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:04<00:00, 28277.29records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:04<00:00, 29236.75records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:04<00:00, 31085.27records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:04<00:00, 31763.79records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:03<00:00, 32923.26records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:03<00:00, 33788.25records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:03<00:00, 34522.12records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:03<00:00, 34932.42records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:03<00:00, 35522.68records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:03<00:00, 39215.72records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:03<00:00, 40465.30records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:03<00:00, 41674.08records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:02<00:00, 43379.46records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:02<00:00, 45250.53records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:02<00:00, 45856.85records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:02<00:00, 50267.19records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:02<00:00, 51497.36records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:02<00:00, 55308.57records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:02<00:00, 56226.73records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:02<00:00, 59376.06records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:02<00:00, 55875.68records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:02<00:00, 64431.77records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:01<00:00, 64592.00records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:01<00:00, 67606.65records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:01<00:00, 69936.44records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:01<00:00, 72557.49records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:01<00:00, 80404.06records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:01<00:00, 87103.20records/s]
reducing progress: 100%|████████████████████████████████████████████| 129098/129098 [00:01<00:00, 98367.83records/s]
reducing progress: 100%|███████████████████████████████████████████| 129098/129098 [00:01<00:00, 107148.38records/s]
reducing progress: 100%|███████████████████████████████████████████| 129098/129098 [00:01<00:00, 120076.27records/s]
reducing progress: 100%|███████████████████████████████████████████| 129098/129098 [00:00<00:00, 138512.86records/s]
reducing progress: 100%|███████████████████████████████████████████| 129098/129098 [00:00<00:00, 162279.02records/s]
reducing progress: 100%|███████████████████████████████████████████| 129098/129098 [00:00<00:00, 184400.89records/s]
reducing progress: 100%|███████████████████████████████████████████| 129098/129098 [00:00<00:00, 192045.68records/s]
reducing progress: 100%|███████████████████████████████████████████| 129098/129098 [00:00<00:00, 251975.76records/s]

reducing progress: 100%|███████████████████████████████████████████| 129098/129098 [00:00<00:00, 318854.37records/s]
reducing progress: 100%|███████████████████████████████████████████| 129098/129098 [00:00<00:00, 449755.02records/s]
reducing progress: 100%|███████████████████████████████████████████| 129098/129098 [00:00<00:00, 504293.68records/s]
reducing progress: 100%|███████████████████████████████████████████| 129098/129098 [00:00<00:00, 635676.53records/s]

merging back into df

,MMS_ID,Title,OCN,ISSN,Related_OCNs,Related_ISSNs,Vol_nos,Gov_doc_nos,OCN_cluster,ISSN_cluster,p_or_e,ISSN_group_id,OCN_group_id,both_groups,matches_group_id
record_index,,,,,,,,,,,,,,,
105867,9977176693001701,Paraphrasis in omnes epistolas Apostolicas.,[944177912],[],[(OCoLC)1002244040],[],[],[],"[944177912, (OCoLC)1002244040]",[],e,[97748i],[0o],"[97748i, 0o]",1
108037,9977166332001701,The Grammar of Attic Inscriptions.,[979747922],[],[(OCoLC)1011439387],[],[],[],"[979747922, (OCoLC)1011439387]",[],e,[98302i],[1o],"[98302i, 1o]",44357
119392,9977176707601701,When Television was Young :,[944177246],[],[(OCoLC)1013946339],[],[],[],"[(OCoLC)1013946339, 944177246]",[],e,[101278i],[2o],"[101278i, 2o]",66579
127588,9975720543401701,Moskaus spuren in Ostdeutschland 1945 bis 1949 :,[920780121],[],[(OCoLC)1013950907],[],[Band 22.],[],"[920780121, (OCoLC)1013950907]",[],e,[103225i],[3o],"[103225i, 3o]",88801
120765,9976895243601701,Scientists at War :,[905969803],[],[(OCoLC)1013954240],[],[],[],"[905969803, (OCoLC)1013954240]",[],e,[101705i],[4o],"[101705i, 4o]",3788
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117940,9975297262301701,SEC today (CCH).,[],[],[],[0745-2667 (print)],[],[],[],[],e,[100923i],[118674o],"[100923i, 118674o]",2050
118942,9975297322401701,Search & seizure bulletin.,[],[],[],[0037-0193 (print)],[],[],[],[],e,[101048i],[118675o],"[101048i, 118675o]",2328
120184,9975297304901701,Federal postconviction remedies handbook.,[],[],[],[1932-2151 (print)],[],[],[],[],e,[101519i],[118676o],"[101519i, 118676o]",26277
122673,9977114779201701,Annales de la Société entomologique de France ...,[],[],[],[],[],[],[],[],e,[102205i],[118677o],"[102205i, 118677o]",4900
127395,9975297085901701,Bankruptcy evidence manual /,[],[1059-2873 (print)],[],[],[],[],[],[],e,[103187i],[118678o],"[103187i, 118678o]",7080

In [24]:
pe_df.to_pickle(f'pe_df_with_groups_{today}.pkl')

In [25]:
pe_df.sort_values('matches_group_id')

,MMS_ID,Title,OCN,ISSN,Related_OCNs,Related_ISSNs,Vol_nos,Gov_doc_nos,OCN_cluster,ISSN_cluster,p_or_e,ISSN_group_id,OCN_group_id,both_groups,matches_group_id
record_index,,,,,,,,,,,,,,,
87349,9935224330001701,Publishers' world.,[988619],[0555-6384],"[2489456, 567791231, 1695359]",[0000-0019],[],[],"[567791231, 1695359, 988619, 2489456]","[0000-0019, 0555-6384]",p,[0i],[35959o],"[0i, 35959o]",0
105258,9967008940001701,Publishers weekly,[37309426],[2150-4008],[],[0000-0019],[],[],[37309426],"[2150-4008, 0000-0019]",e,[0i],[35959o],"[0i, 35959o]",0
58136,9913446020001701,Publishers weekly yearbook,[9604938],[0000-0469],[],[0000-0019],[],[],[9604938],"[0000-0469, 0000-0019]",p,[0i],[35959o],"[0i, 35959o]",0
60626,9934112930001701,Publishers weekly,[2489456],[0000-0019],"[37309426, 9604938]","[0000-0019, 000--0019, 0000-0469, 2150-4008]",[],[],"[37309426, 9604938, 2489456]","[2150-4008, 0000-0469, 0000-0019]",p,[0i],[35959o],"[0i, 35959o]",0
52478,9937257820001701,The Book publishing annual,[1114932096],[0000-0787],[],[0000-0019],[],[],[1114932096],"[0000-0787, 0000-0019]",p,[0i],[9122o],"[0i, 9122o]",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30531,9947018110001701,Bank of London & South America review,[317183571],[0005-5298],[],[],[],[],[317183571],[0005-5298],p,[999i],[63489o],"[999i, 63489o]",222128
32742,9927107280001701,Technical report (Washington State Institute o...,[1013255009],[0511-2699],[],[],[],[],[1013255009],[0511-2699],p,[25077i],[999o],"[25077i, 999o]",222129
33650,9914101670001701,Abstracts of health care management studies,[1114928547],[0194-4908],[],[0001-3595],[],[],[1114928547],"[0001-3595, 0194-4908]",p,[99i],[7966o],"[99i, 7966o]",222130
22003,9927245370001701,Abstracts of hospital management studies,[1460587],[0001-3595],[],[],[],[],[1460587],[0001-3595],p,[99i],[25055o],"[99i, 25055o]",222130
8375,9926007080001701,The Mystery & detection annual,[924311],[0000-0302],[],[],[],[],[924311],[0000-0302],p,[9i],[113176o],"[9i, 113176o]",222132

In [26]:
group_ids = sorted(list(set(pe_df['matches_group_id'])))
group_list = list(range(0,len(group_ids)))
group_dict = dict(zip(group_ids,group_list))
len(group_dict)

101718

In [27]:
pe_df['matches_group_id'].replace(group_dict, inplace=True)
pe_df

,MMS_ID,Title,OCN,ISSN,Related_OCNs,Related_ISSNs,Vol_nos,Gov_doc_nos,OCN_cluster,ISSN_cluster,p_or_e,ISSN_group_id,OCN_group_id,both_groups,matches_group_id
record_index,,,,,,,,,,,,,,,
105867,9977176693001701,Paraphrasis in omnes epistolas Apostolicas.,[944177912],[],[(OCoLC)1002244040],[],[],[],"[944177912, (OCoLC)1002244040]",[],e,[97748i],[0o],"[97748i, 0o]",1
108037,9977166332001701,The Grammar of Attic Inscriptions.,[979747922],[],[(OCoLC)1011439387],[],[],[],"[979747922, (OCoLC)1011439387]",[],e,[98302i],[1o],"[98302i, 1o]",19245
119392,9977176707601701,When Television was Young :,[944177246],[],[(OCoLC)1013946339],[],[],[],"[(OCoLC)1013946339, 944177246]",[],e,[101278i],[2o],"[101278i, 2o]",29440
127588,9975720543401701,Moskaus spuren in Ostdeutschland 1945 bis 1949 :,[920780121],[],[(OCoLC)1013950907],[],[Band 22.],[],"[920780121, (OCoLC)1013950907]",[],e,[103225i],[3o],"[103225i, 3o]",39595
120765,9976895243601701,Scientists at War :,[905969803],[],[(OCoLC)1013954240],[],[],[],"[905969803, (OCoLC)1013954240]",[],e,[101705i],[4o],"[101705i, 4o]",1707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117940,9975297262301701,SEC today (CCH).,[],[],[],[0745-2667 (print)],[],[],[],[],e,[100923i],[118674o],"[100923i, 118674o]",924
118942,9975297322401701,Search & seizure bulletin.,[],[],[],[0037-0193 (print)],[],[],[],[],e,[101048i],[118675o],"[101048i, 118675o]",1048
120184,9975297304901701,Federal postconviction remedies handbook.,[],[],[],[1932-2151 (print)],[],[],[],[],e,[101519i],[118676o],"[101519i, 118676o]",10866
122673,9977114779201701,Annales de la Société entomologique de France ...,[],[],[],[],[],[],[],[],e,[102205i],[118677o],"[102205i, 118677o]",2200
127395,9975297085901701,Bankruptcy evidence manual /,[],[1059-2873 (print)],[],[],[],[],[],[],e,[103187i],[118678o],"[103187i, 118678o]",3196

In [28]:
pe_df.sort_index()

,MMS_ID,Title,OCN,ISSN,Related_OCNs,Related_ISSNs,Vol_nos,Gov_doc_nos,OCN_cluster,ISSN_cluster,p_or_e,ISSN_group_id,OCN_group_id,both_groups,matches_group_id
record_index,,,,,,,,,,,,,,,
0,9920341180001701,Tutkimuksia Suomen maatalouden kannattavuudesta =,[9104278],[0438-9808],[],[],[],[],[9104278],[0438-9808],p,[24110i],[112687o],"[24110i, 112687o]",23378
1,9920358800001701,Pakistan,[25380502],[1061-6101],[],[],[],[],[25380502],[1061-6101],p,[36045i],[57957o],"[36045i, 57957o]",35688
2,9920370170001701,Abhandlungen der Königlich Preussischen Akade...,[10333878],[0233-2728],[],[],[],[],[10333878],[0233-2728],p,[17151i],[2068o],"[17151i, 2068o]",16296
3,9920380570001701,Zhongguo dian ying nian jian /,[9179105],[],[],[],[],[],[9179105],[],p,[47183i],[112965o],"[47183i, 112965o]",46641
4,9920446280001701,Sports 'n spokes,[1114948794],[0161-6706],[],[],[],[],[1114948794],[0161-6706],p,[14948i],[15060o],"[14948i, 15060o]",14160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129093,9977136268101701,F©œldtani k©œzl©œny,[1569510],[0015-542X],[],[],[],[],[1569510],[0015-542X],e,[2563i],[30451o],"[2563i, 30451o]",29887
129094,9977149036101701,Corporate report Wisconsin,[12795345],[],[],[0890-4278],[],[],[12795345],[0890-4278],e,[31641i],[22542o],"[31641i, 22542o]",31115
129095,9977149197201701,Surveying and land information systems,[21396434],[1052-2905],[],[],[],[],[21396434],[1052-2905],e,[35481i],[51436o],"[35481i, 51436o]",9351
129096,9977149202001701,Engineering,[1567895],[0013-7782],[],[],[],[],[1567895],[0013-7782],e,[2261i],[29970o],"[2261i, 29970o]",21891
129097,9977163433601701,The rights of refugees under international law,[252490921],[],[],[],[],[],[252490921],[],e,[103454i],[57804o],"[103454i, 57804o]",3466

In [29]:
pe_df.sort_values('matches_group_id', inplace=True)
pe_df

,MMS_ID,Title,OCN,ISSN,Related_OCNs,Related_ISSNs,Vol_nos,Gov_doc_nos,OCN_cluster,ISSN_cluster,p_or_e,ISSN_group_id,OCN_group_id,both_groups,matches_group_id
record_index,,,,,,,,,,,,,,,
87349,9935224330001701,Publishers' world.,[988619],[0555-6384],"[2489456, 567791231, 1695359]",[0000-0019],[],[],"[567791231, 1695359, 988619, 2489456]","[0000-0019, 0555-6384]",p,[0i],[35959o],"[0i, 35959o]",0
105258,9967008940001701,Publishers weekly,[37309426],[2150-4008],[],[0000-0019],[],[],[37309426],"[2150-4008, 0000-0019]",e,[0i],[35959o],"[0i, 35959o]",0
58136,9913446020001701,Publishers weekly yearbook,[9604938],[0000-0469],[],[0000-0019],[],[],[9604938],"[0000-0469, 0000-0019]",p,[0i],[35959o],"[0i, 35959o]",0
60626,9934112930001701,Publishers weekly,[2489456],[0000-0019],"[37309426, 9604938]","[0000-0019, 000--0019, 0000-0469, 2150-4008]",[],[],"[37309426, 9604938, 2489456]","[2150-4008, 0000-0469, 0000-0019]",p,[0i],[35959o],"[0i, 35959o]",0
52478,9937257820001701,The Book publishing annual,[1114932096],[0000-0787],[],[0000-0019],[],[],[1114932096],"[0000-0787, 0000-0019]",p,[0i],[9122o],"[0i, 9122o]",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30531,9947018110001701,Bank of London & South America review,[317183571],[0005-5298],[],[],[],[],[317183571],[0005-5298],p,[999i],[63489o],"[999i, 63489o]",101714
32742,9927107280001701,Technical report (Washington State Institute o...,[1013255009],[0511-2699],[],[],[],[],[1013255009],[0511-2699],p,[25077i],[999o],"[25077i, 999o]",101715
33650,9914101670001701,Abstracts of health care management studies,[1114928547],[0194-4908],[],[0001-3595],[],[],[1114928547],"[0001-3595, 0194-4908]",p,[99i],[7966o],"[99i, 7966o]",101716
22003,9927245370001701,Abstracts of hospital management studies,[1460587],[0001-3595],[],[],[],[],[1460587],[0001-3595],p,[99i],[25055o],"[99i, 25055o]",101716
8375,9926007080001701,The Mystery & detection annual,[924311],[0000-0302],[],[],[],[],[924311],[0000-0302],p,[9i],[113176o],"[9i, 113176o]",101717

In [30]:
pe_df.to_pickle(f'pe_df_groupids_matched_{today}.pkl')
#pe_df.to_csv('pe_df_' + today + '.txt', sep='\t',index=False)

In [31]:
pe_df.index.names = ['record_index']
pe_df.reset_index(inplace=True)
pe_df

,record_index,MMS_ID,Title,OCN,ISSN,Related_OCNs,Related_ISSNs,Vol_nos,Gov_doc_nos,OCN_cluster,ISSN_cluster,p_or_e,ISSN_group_id,OCN_group_id,both_groups,matches_group_id
0,87349,9935224330001701,Publishers' world.,[988619],[0555-6384],"[2489456, 567791231, 1695359]",[0000-0019],[],[],"[567791231, 1695359, 988619, 2489456]","[0000-0019, 0555-6384]",p,[0i],[35959o],"[0i, 35959o]",0
1,105258,9967008940001701,Publishers weekly,[37309426],[2150-4008],[],[0000-0019],[],[],[37309426],"[2150-4008, 0000-0019]",e,[0i],[35959o],"[0i, 35959o]",0
2,58136,9913446020001701,Publishers weekly yearbook,[9604938],[0000-0469],[],[0000-0019],[],[],[9604938],"[0000-0469, 0000-0019]",p,[0i],[35959o],"[0i, 35959o]",0
3,60626,9934112930001701,Publishers weekly,[2489456],[0000-0019],"[37309426, 9604938]","[0000-0019, 000--0019, 0000-0469, 2150-4008]",[],[],"[37309426, 9604938, 2489456]","[2150-4008, 0000-0469, 0000-0019]",p,[0i],[35959o],"[0i, 35959o]",0
4,52478,9937257820001701,The Book publishing annual,[1114932096],[0000-0787],[],[0000-0019],[],[],[1114932096],"[0000-0787, 0000-0019]",p,[0i],[9122o],"[0i, 9122o]",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129093,30531,9947018110001701,Bank of London & South America review,[317183571],[0005-5298],[],[],[],[],[317183571],[0005-5298],p,[999i],[63489o],"[999i, 63489o]",101714
129094,32742,9927107280001701,Technical report (Washington State Institute o...,[1013255009],[0511-2699],[],[],[],[],[1013255009],[0511-2699],p,[25077i],[999o],"[25077i, 999o]",101715
129095,33650,9914101670001701,Abstracts of health care management studies,[1114928547],[0194-4908],[],[0001-3595],[],[],[1114928547],"[0001-3595, 0194-4908]",p,[99i],[7966o],"[99i, 7966o]",101716
129096,22003,9927245370001701,Abstracts of hospital management studies,[1460587],[0001-3595],[],[],[],[],[1460587],[0001-3595],p,[99i],[25055o],"[99i, 25055o]",101716
129097,8375,9926007080001701,The Mystery & detection annual,[924311],[0000-0302],[],[],[],[],[924311],[0000-0302],p,[9i],[113176o],"[9i, 113176o]",101717

In [32]:
pe_df['ISSN_to_match'] = pe_df['ISSN'].apply(lambda x: str(x[0]))
pe_df

,record_index,MMS_ID,Title,OCN,ISSN,Related_OCNs,Related_ISSNs,Vol_nos,Gov_doc_nos,OCN_cluster,ISSN_cluster,p_or_e,ISSN_group_id,OCN_group_id,both_groups,matches_group_id,ISSN_to_match
0,87349,9935224330001701,Publishers' world.,[988619],[0555-6384],"[2489456, 567791231, 1695359]",[0000-0019],[],[],"[567791231, 1695359, 988619, 2489456]","[0000-0019, 0555-6384]",p,[0i],[35959o],"[0i, 35959o]",0,0555-6384
1,105258,9967008940001701,Publishers weekly,[37309426],[2150-4008],[],[0000-0019],[],[],[37309426],"[2150-4008, 0000-0019]",e,[0i],[35959o],"[0i, 35959o]",0,2150-4008
2,58136,9913446020001701,Publishers weekly yearbook,[9604938],[0000-0469],[],[0000-0019],[],[],[9604938],"[0000-0469, 0000-0019]",p,[0i],[35959o],"[0i, 35959o]",0,0000-0469
3,60626,9934112930001701,Publishers weekly,[2489456],[0000-0019],"[37309426, 9604938]","[0000-0019, 000--0019, 0000-0469, 2150-4008]",[],[],"[37309426, 9604938, 2489456]","[2150-4008, 0000-0469, 0000-0019]",p,[0i],[35959o],"[0i, 35959o]",0,0000-0019
4,52478,9937257820001701,The Book publishing annual,[1114932096],[0000-0787],[],[0000-0019],[],[],[1114932096],"[0000-0787, 0000-0019]",p,[0i],[9122o],"[0i, 9122o]",0,0000-0787
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129093,30531,9947018110001701,Bank of London & South America review,[317183571],[0005-5298],[],[],[],[],[317183571],[0005-5298],p,[999i],[63489o],"[999i, 63489o]",101714,0005-5298
129094,32742,9927107280001701,Technical report (Washington State Institute o...,[1013255009],[0511-2699],[],[],[],[],[1013255009],[0511-2699],p,[25077i],[999o],"[25077i, 999o]",101715,0511-2699
129095,33650,9914101670001701,Abstracts of health care management studies,[1114928547],[0194-4908],[],[0001-3595],[],[],[1114928547],"[0001-3595, 0194-4908]",p,[99i],[7966o],"[99i, 7966o]",101716,0194-4908
129096,22003,9927245370001701,Abstracts of hospital management studies,[1460587],[0001-3595],[],[],[],[],[1460587],[0001-3595],p,[99i],[25055o],"[99i, 25055o]",101716,0001-3595
129097,8375,9926007080001701,The Mystery & detection annual,[924311],[0000-0302],[],[],[],[],[924311],[0000-0302],p,[9i],[113176o],"[9i, 113176o]",101717,0000-0302

#### Find groups with p and e, p only, and e only

In [33]:
find_only_p_or_e = pe_df[['record_index','matches_group_id','p_or_e','MMS_ID','Title']]
find_only_p_or_e

,record_index,matches_group_id,p_or_e,MMS_ID,Title
0,87349,0,p,9935224330001701,Publishers' world.
1,105258,0,e,9967008940001701,Publishers weekly
2,58136,0,p,9913446020001701,Publishers weekly yearbook
3,60626,0,p,9934112930001701,Publishers weekly
4,52478,0,p,9937257820001701,The Book publishing annual
...,...,...,...,...,...
129093,30531,101714,p,9947018110001701,Bank of London & South America review
129094,32742,101715,p,9927107280001701,Technical report (Washington State Institute o...
129095,33650,101716,p,9914101670001701,Abstracts of health care management studies
129096,22003,101716,p,9927245370001701,Abstracts of hospital management studies
129097,8375,101717,p,9926007080001701,The Mystery & detection annual

In [34]:
find_only_p_or_e = find_only_p_or_e.groupby(['matches_group_id']).agg(lambda x: sorted(list(set(x)))).reset_index()
find_only_p_or_e

,matches_group_id,record_index,p_or_e,MMS_ID
0,0,"[52478, 58136, 60626, 87349, 105258]","[e, p]","[9913446020001701, 9934112930001701, 993522433..."
1,1,[105867],[e],[9977176693001701]
2,2,"[69875, 113344]","[e, p]","[9939153590001701, 9968879310001701]"
3,3,[115629],[e],[9977077183601701]
4,4,[63006],[p],[9929611400001701]
...,...,...,...,...
101713,101713,[88528],[p],[9962739150001701]
101714,101714,[30531],[p],[9947018110001701]
101715,101715,[32742],[p],[9927107280001701]
101716,101716,"[22003, 33650]",[p],"[9914101670001701, 9927245370001701]"
101717,101717,[8375],[p],[9926007080001701]

In [35]:
find_only_p_or_e['pore'] = find_only_p_or_e['p_or_e'].apply(lambda x: ' '.join(x))
find_only_p_or_e

,matches_group_id,record_index,p_or_e,MMS_ID,pore
0,0,"[52478, 58136, 60626, 87349, 105258]","[e, p]","[9913446020001701, 9934112930001701, 993522433...",e p
1,1,[105867],[e],[9977176693001701],e
2,2,"[69875, 113344]","[e, p]","[9939153590001701, 9968879310001701]",e p
3,3,[115629],[e],[9977077183601701],e
4,4,[63006],[p],[9929611400001701],p
...,...,...,...,...,...
101713,101713,[88528],[p],[9962739150001701],p
101714,101714,[30531],[p],[9947018110001701],p
101715,101715,[32742],[p],[9927107280001701],p
101716,101716,"[22003, 33650]",[p],"[9914101670001701, 9927245370001701]",p
101717,101717,[8375],[p],[9926007080001701],p

In [36]:
find_only_p_or_e['pore'].value_counts()

p      78993
e p    16937
e       5788
Name: pore, dtype: int64

In [37]:
only_p = find_only_p_or_e[find_only_p_or_e['pore'] == 'p']
only_p

,matches_group_id,record_index,p_or_e,MMS_ID,pore
4,4,[63006],[p],[9929611400001701],p
14,14,[91817],[p],[9945141400001701],p
18,18,[87852],[p],[9957807000001701],p
23,23,[64330],[p],[9953380130001701],p
26,26,"[13162, 50457]",[p],"[9925000870001701, 9925628280001701]",p
...,...,...,...,...,...
101713,101713,[88528],[p],[9962739150001701],p
101714,101714,[30531],[p],[9947018110001701],p
101715,101715,[32742],[p],[9927107280001701],p
101716,101716,"[22003, 33650]",[p],"[9914101670001701, 9927245370001701]",p
101717,101717,[8375],[p],[9926007080001701],p

In [38]:
only_p_groups = list(only_p['matches_group_id'])
only_p_groups

[4,
 14,
 18,
 23,
 26,
 29,
 30,
 35,
 37,
 39,
 41,
 43,
 48,
 51,
 52,
 55,
 58,
 60,
 65,
 67,
 71,
 72,
 75,
 84,
 85,
 89,
 95,
 100,
 101,
 102,
 106,
 109,
 110,
 117,
 119,
 122,
 123,
 126,
 130,
 132,
 133,
 135,
 138,
 140,
 144,
 146,
 148,
 150,
 152,
 155,
 156,
 157,
 159,
 163,
 165,
 166,
 169,
 170,
 171,
 173,
 177,
 178,
 179,
 180,
 181,
 186,
 190,
 191,
 195,
 198,
 199,
 201,
 205,
 209,
 210,
 211,
 214,
 220,
 221,
 229,
 230,
 231,
 232,
 234,
 239,
 244,
 250,
 253,
 260,
 261,
 271,
 286,
 290,
 297,
 298,
 307,
 308,
 313,
 317,
 319,
 321,
 324,
 329,
 331,
 333,
 335,
 337,
 341,
 343,
 351,
 376,
 377,
 387,
 388,
 397,
 399,
 423,
 427,
 435,
 438,
 442,
 443,
 444,
 445,
 447,
 449,
 453,
 455,
 458,
 467,
 468,
 472,
 475,
 480,
 481,
 483,
 486,
 489,
 491,
 493,
 498,
 503,
 505,
 508,
 510,
 514,
 527,
 530,
 535,
 536,
 539,
 542,
 546,
 548,
 556,
 557,
 560,
 561,
 563,
 565,
 566,
 567,
 569,
 571,
 573,
 575,
 577,
 579,
 580,
 592,
 594,
 595,
 597,
 599,
 600,
 607,
 610,
 612,
 613,
 614,
 618,
 621,
 623,
 625,
 630,
 632,
 634,
 636,
 641,
 642,
 645,
 647,
 650,
 651,
 654,
 656,
 659,
 663,
 665,
 668,
 669,
 671,
 678,
 679,
 680,
 682,
 688,
 691,
 692,
 695,
 697,
 699,
 703,
 713,
 714,
 717,
 724,
 727,
 729,
 732,
 734,
 742,
 745,
 749,
 751,
 754,
 756,
 760,
 762,
 766,
 767,
 770,
 774,
 775,
 778,
 781,
 791,
 793,
 796,
 797,
 806,
 812,
 814,
 815,
 817,
 821,
 823,
 830,
 832,
 834,
 836,
 839,
 844,
 846,
 848,
 860,
 862,
 864,
 865,
 867,
 869,
 871,
 872,
 873,
 882,
 884,
 885,
 890,
 891,
 901,
 903,
 904,
 906,
 908,
 912,
 916,
 920,
 921,
 923,
 925,
 927,
 929,
 931,
 932,
 934,
 938,
 942,
 943,
 946,
 949,
 950,
 952,
 954,
 958,
 960,
 962,
 963,
 965,
 971,
 972,
 973,
 974,
 978,
 981,
 985,
 987,
 991,
 993,
 997,
 998,
 1002,
 1010,
 1011,
 1012,
 1013,
 1014,
 1021,
 1023,
 1028,
 1031,
 1032,
 1041,
 1043,
 1046,
 1049,
 1052,
 1059,
 1062,
 1064,
 1067,
 1068,
 1075,
 1089,
 1092,
 1097,
 1099,
 1101,
 1110,
 1111,
 1117,
 1118,
 1121,
 1123,
 1124,
 1128,
 1130,
 1136,
 1138,
 1143,
 1146,
 1147,
 1150,
 1151,
 1153,
 1158,
 1159,
 1161,
 1167,
 1169,
 1171,
 1173,
 1179,
 1182,
 1188,
 1190,
 1195,
 1198,
 1200,
 1201,
 1202,
 1203,
 1210,
 1212,
 1213,
 1217,
 1218,
 1222,
 1230,
 1232,
 1236,
 1239,
 1242,
 1247,
 1249,
 1250,
 1255,
 1256,
 1258,
 1260,
 1263,
 1264,
 1269,
 1270,
 1275,
 1278,
 1282,
 1283,
 1285,
 1291,
 1293,
 1296,
 1298,
 1300,
 1303,
 1304,
 1306,
 1314,
 1318,
 1321,
 1323,
 1324,
 1335,
 1343,
 1344,
 1346,
 1348,
 1353,
 1355,
 1358,
 1360,
 1362,
 1366,
 1374,
 1378,
 1379,
 1385,
 1386,
 1388,
 1391,
 1393,
 1396,
 1397,
 1418,
 1428,
 1431,
 1433,
 1435,
 1436,
 1441,
 1447,
 1448,
 1457,
 1459,
 1464,
 1465,
 1467,
 1474,
 1477,
 1480,
 1482,
 1484,
 1485,
 1487,
 1489,
 1493,
 1496,
 1498,
 1500,
 1501,
 1502,
 1503,
 1512,
 1514,
 1515,
 1516,
 1517,
 1519,
 1522,
 1523,
 1529,
 1539,
 1541,
 1543,
 1544,
 1545,
 1546,
 1549,
 1551,
 1553,
 1554,
 1556,
 1558,
 1559,
 1560,
 1561,
 1564,
 1567,
 1571,
 1575,
 1582,
 1583,
 1585,
 1587,
 1588,
 1591,
 1598,
 1599,
 1600,
 1601,
 1602,
 1609,
 1612,
 1614,
 1616,
 1620,
 1623,
 1627,
 1636,
 1637,
 1640,
 1648,
 1649,
 1653,
 1655,
 1658,
 1659,
 1662,
 1664,
 1666,
 1668,
 1670,
 1672,
 1677,
 1679,
 1681,
 1684,
 1685,
 1689,
 1690,
 1691,
 1694,
 1698,
 1699,
 1705,
 1713,
 1715,
 1718,
 1721,
 1723,
 1728,
 1736,
 1738,
 1740,
 1741,
 1747,
 1750,
 1754,
 1756,
 1759,
 1762,
 1763,
 1776,
 1777,
 1778,
 1780,
 1782,
 1783,
 1788,
 1789,
 1792,
 1797,
 1799,
 1800,
 1802,
 1804,
 1807,
 1814,
 1815,
 1817,
 1821,
 1822,
 1825,
 1829,
 1835,
 1840,
 1843,
 1844,
 1850,
 1851,
 1858,
 1860,
 1863,
 1865,
 1873,
 1874,
 1875,
 1881,
 1883,
 1886,
 1887,
 1888,
 1891,
 1893,
 1896,
 1899,
 1900,
 1906,
 1909,
 1911,
 1912,
 1916,
 1922,
 1924,
 1926,
 1928,
 1931,
 1933,
 1935,
 1936,
 1945,
 1946,
 1951,
 1955,
 1956,
 1958,
 1962,
 1965,
 1966,
 1970,
 1973,
 1975,
 1977,
 1979,
 1981,
 1982,
 1984,
 1986,
 1988,
 1989,
 1991,
 1993,
 2001,
 2002,
 2015,
 2016,
 2020,
 2021,
 2025,
 2029,
 2030,
 2032,
 2034,
 2037,
 2039,
 2042,
 2048,
 2050,
 2052,
 2060,
 2061,
 2070,
 2073,
 2077,
 2081,
 2085,
 2086,
 2087,
 2088,
 2089,
 2091,
 2093,
 2099,
 2103,
 2105,
 2109,
 2111,
 2112,
 2113,
 2115,
 2117,
 2119,
 2123,
 2125,
 2127,
 2130,
 2132,
 2135,
 2136,
 2138,
 2140,
 2141,
 2142,
 2144,
 2146,
 2150,
 2153,
 2154,
 2164,
 2169,
 2170,
 2172,
 2175,
 2177,
 2179,
 2180,
 2190,
 2193,
 2194,
 2195,
 2202,
 2205,
 2209,
 2212,
 2215,
 2217,
 2225,
 2226,
 2232,
 2235,
 2238,
 2241,
 2253,
 2257,
 2261,
 2262,
 2270,
 2272,
 2286,
 2289,
 2291,
 2292,
 2293,
 2295,
 2302,
 2306,
 2312,
 2314,
 2318,
 2327,
 2328,
 2335,
 2338,
 2341,
 2355,
 2369,
 2371,
 2372,
 2375,
 2378,
 2381,
 2383,
 2385,
 2387,
 2396,
 2397,
 2398,
 2401,
 2403,
 2408,
 2409,
 2417,
 2418,
 2432,
 2434,
 2441,
 2445,
 2448,
 2450,
 2451,
 2452,
 2454,
 2458,
 2463,
 2467,
 2469,
 2476,
 2477,
 2480,
 2487,
 2488,
 2490,
 2491,
 2495,
 2497,
 2499,
 2501,
 2504,
 2507,
 2509,
 2512,
 2514,
 2520,
 2522,
 2525,
 2528,
 2530,
 2531,
 2533,
 2535,
 2538,
 2540,
 2542,
 2546,
 2548,
 2549,
 2550,
 2551,
 2553,
 2559,
 2566,
 2573,
 2579,
 2580,
 2581,
 2584,
 2587,
 2589,
 2593,
 2595,
 2597,
 2599,
 2601,
 2609,
 2610,
 2612,
 2615,
 2630,
 2638,
 2647,
 2648,
 2655,
 2667,
 2679,
 2680,
 2685,
 2687,
 2688,
 2689,
 2691,
 2692,
 2695,
 2698,
 2704,
 2710,
 2712,
 2719,
 2728,
 2729,
 2733,
 2735,
 2740,
 2745,
 2752,
 2755,
 2756,
 2758,
 2760,
 2764,
 2765,
 2768,
 2772,
 2774,
 2780,
 2785,
 2790,
 2792,
 2793,
 2795,
 2801,
 2803,
 2812,
 2814,
 2815,
 2817,
 2827,
 2828,
 2833,
 2845,
 2846,
 2848,
 2850,
 2851,
 2854,
 2856,
 2860,
 2862,
 2865,
 2866,
 2869,
 2871,
 2878,
 2881,
 2886,
 2899,
 2901,
 2903,
 2905,
 2912,
 2914,
 2916,
 2919,
 2922,
 2923,
 2924,
 2925,
 2927,
 2929,
 2934,
 2935,
 2937,
 2945,
 2948,
 2956,
 2963,
 2964,
 2967,
 2969,
 2970,
 2971,
 2973,
 2975,
 2976,
 2982,
 2983,
 2986,
 2988,
 2991,
 2994,
 2995,
 2997,
 3001,
 3002,
 3005,
 3008,
 3011,
 3012,
 3013,
 3014,
 3022,
 3025,
 3027,
 3029,
 3030,
 3031,
 3033,
 3035,
 3055,
 3064,
 3081,
 3082,
 3089,
 3099,
 3101,
 3102,
 3106,
 3109,
 3110,
 3112,
 3117,
 3120,
 3122,
 3128,
 3131,
 3132,
 3135,
 3138,
 3140,
 3142,
 3145,
 3149,
 3151,
 3153,
 3155,
 3158,
 3160,
 3163,
 3165,
 3169,
 3174,
 3175,
 3177,
 3179,
 3180,
 3181,
 3183,
 3184,
 3187,
 3191,
 3192,
 3199,
 3207,
 3209,
 3211,
 3218,
 3221,
 3226,
 3231,
 3232,
 3235,
 3238,
 3241,
 3249,
 3251,
 3256,
 3260,
 3263,
 3269,
 3271,
 3274,
 3277,
 ...]

In [39]:
p_only_data = pe_df[pe_df['matches_group_id'].isin(only_p_groups)]
p_only_data

,record_index,MMS_ID,Title,OCN,ISSN,Related_OCNs,Related_ISSNs,Vol_nos,Gov_doc_nos,OCN_cluster,ISSN_cluster,p_or_e,ISSN_group_id,OCN_group_id,both_groups,matches_group_id,ISSN_to_match
9,63006,9929611400001701,Bottom line (American Nursery & Landscape Asso...,[66903536],[],[],[],[],[],[66903536],[],p,[77630i],[100003o],"[77630i, 100003o]",4,
26,91817,9945141400001701,French-language psychology,[6692160],[0167-1839],[],[],[],[],[6692160],[0167-1839],p,[15403i],[100015o],"[15403i, 100015o]",14,0167-1839
30,87852,9957807000001701,"History, technology, and art monograph.",[6693870],[0316-1269],[],[],[],[],[6693870],[0316-1269],p,[20279i],[100021o],"[20279i, 100021o]",18,0316-1269
36,64330,9953380130001701,Annual report of notifiable diseases,[669591472],[0575-7894],[],[],[],[CS82-201],[669591472],[0575-7894],p,[27104i],[100025o],"[27104i, 100025o]",23,0575-7894
39,13162,9925628280001701,American government,[6696647],[0891-3390],[],[],[],[],[6696647],[0891-3390],p,[31716i],[100027o],"[31716i, 100027o]",26,0891-3390
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129093,30531,9947018110001701,Bank of London & South America review,[317183571],[0005-5298],[],[],[],[],[317183571],[0005-5298],p,[999i],[63489o],"[999i, 63489o]",101714,0005-5298
129094,32742,9927107280001701,Technical report (Washington State Institute o...,[1013255009],[0511-2699],[],[],[],[],[1013255009],[0511-2699],p,[25077i],[999o],"[25077i, 999o]",101715,0511-2699
129095,33650,9914101670001701,Abstracts of health care management studies,[1114928547],[0194-4908],[],[0001-3595],[],[],[1114928547],"[0001-3595, 0194-4908]",p,[99i],[7966o],"[99i, 7966o]",101716,0194-4908
129096,22003,9927245370001701,Abstracts of hospital management studies,[1460587],[0001-3595],[],[],[],[],[1460587],[0001-3595],p,[99i],[25055o],"[99i, 25055o]",101716,0001-3595
129097,8375,9926007080001701,The Mystery & detection annual,[924311],[0000-0302],[],[],[],[],[924311],[0000-0302],p,[9i],[113176o],"[9i, 113176o]",101717,0000-0302

In [40]:
p_only_data.to_pickle('p_only_' + today + '.pkl')
#p_only_data.to_csv('p_only_' + today + '.txt',sep='\t',index=False)

In [41]:
only_e = find_only_p_or_e[find_only_p_or_e['pore'] == 'e']
only_e

        matches_group_id record_index p_or_e              MMS_ID pore
1                      1     [105867]    [e]  [9977176693001701]    e
3                      3     [115629]    [e]  [9977077183601701]    e
6                      6     [115633]    [e]  [9977077232801701]    e
10                    10     [115643]    [e]  [9977173932501701]    e
11                    11     [115645]    [e]  [9977174066201701]    e
...                  ...          ...    ...                 ...  ...
101705            101705     [115617]    [e]  [9977076678201701]    e
101707            101707     [115619]    [e]  [9977076887201701]    e
101708            101708     [115620]    [e]  [9977077010801701]    e
101710            101710     [115621]    [e]  [9977077013001701]    e
101712            101712     [115624]    [e]  [9977077059701701]    e

[5788 rows x 5 columns]

In [42]:
only_e_groups = list(only_e['matches_group_id'])
only_e_groups

[1,
 3,
 6,
 10,
 11,
 13,
 15,
 16,
 17,
 19,
 21,
 22,
 24,
 25,
 27,
 28,
 31,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 45,
 47,
 49,
 53,
 54,
 56,
 57,
 59,
 62,
 64,
 66,
 68,
 69,
 70,
 73,
 74,
 76,
 78,
 79,
 80,
 81,
 82,
 86,
 87,
 88,
 90,
 91,
 93,
 94,
 96,
 97,
 98,
 103,
 104,
 105,
 107,
 108,
 111,
 112,
 113,
 114,
 115,
 116,
 118,
 120,
 121,
 124,
 125,
 127,
 128,
 129,
 131,
 134,
 136,
 137,
 139,
 141,
 142,
 143,
 145,
 147,
 149,
 151,
 153,
 154,
 158,
 160,
 161,
 162,
 164,
 167,
 168,
 172,
 174,
 175,
 176,
 182,
 184,
 185,
 187,
 189,
 192,
 194,
 196,
 197,
 200,
 203,
 204,
 206,
 207,
 208,
 212,
 215,
 216,
 218,
 219,
 222,
 223,
 224,
 225,
 226,
 228,
 235,
 237,
 238,
 240,
 241,
 242,
 243,
 245,
 246,
 247,
 248,
 249,
 251,
 255,
 256,
 258,
 262,
 263,
 265,
 268,
 269,
 272,
 274,
 275,
 276,
 278,
 279,
 280,
 282,
 283,
 285,
 287,
 288,
 289,
 293,
 294,
 295,
 296,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 309,
 310,
 311,
 312,
 314,
 316,
 318,
 320,
 322,
 323,
 325,
 328,
 330,
 332,
 334,
 336,
 338,
 339,
 342,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 374,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 424,
 425,
 426,
 428,
 429,
 430,
 432,
 436,
 437,
 439,
 441,
 446,
 448,
 450,
 451,
 452,
 454,
 456,
 457,
 459,
 460,
 463,
 464,
 465,
 469,
 470,
 471,
 473,
 474,
 476,
 478,
 479,
 482,
 484,
 485,
 487,
 488,
 490,
 492,
 494,
 495,
 497,
 499,
 500,
 502,
 504,
 506,
 507,
 509,
 512,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 528,
 529,
 531,
 532,
 534,
 538,
 540,
 541,
 543,
 545,
 547,
 549,
 550,
 551,
 552,
 553,
 554,
 558,
 559,
 562,
 564,
 568,
 570,
 572,
 574,
 576,
 578,
 581,
 582,
 583,
 585,
 586,
 587,
 589,
 590,
 591,
 593,
 596,
 598,
 601,
 602,
 603,
 604,
 605,
 606,
 608,
 609,
 611,
 615,
 616,
 617,
 619,
 620,
 622,
 624,
 626,
 628,
 631,
 633,
 637,
 640,
 643,
 644,
 646,
 648,
 649,
 652,
 653,
 655,
 657,
 658,
 661,
 662,
 664,
 666,
 667,
 670,
 672,
 673,
 675,
 676,
 677,
 681,
 683,
 684,
 685,
 687,
 689,
 690,
 693,
 694,
 696,
 698,
 700,
 701,
 704,
 705,
 706,
 708,
 709,
 710,
 712,
 715,
 716,
 718,
 719,
 721,
 722,
 723,
 725,
 726,
 728,
 730,
 731,
 733,
 735,
 736,
 737,
 738,
 740,
 741,
 743,
 746,
 748,
 750,
 752,
 753,
 755,
 757,
 758,
 759,
 761,
 763,
 765,
 768,
 769,
 771,
 772,
 773,
 776,
 777,
 779,
 780,
 782,
 783,
 785,
 786,
 787,
 788,
 789,
 790,
 792,
 794,
 795,
 799,
 800,
 801,
 802,
 805,
 807,
 808,
 809,
 810,
 811,
 813,
 816,
 818,
 820,
 824,
 825,
 827,
 828,
 829,
 831,
 833,
 835,
 837,
 840,
 841,
 842,
 843,
 845,
 847,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 861,
 863,
 866,
 868,
 870,
 874,
 876,
 878,
 880,
 881,
 883,
 886,
 887,
 888,
 892,
 893,
 894,
 896,
 897,
 898,
 900,
 905,
 907,
 909,
 910,
 911,
 913,
 915,
 917,
 918,
 922,
 924,
 926,
 928,
 930,
 933,
 935,
 937,
 939,
 940,
 941,
 944,
 945,
 947,
 948,
 951,
 953,
 955,
 957,
 959,
 961,
 964,
 966,
 968,
 970,
 975,
 976,
 977,
 979,
 980,
 982,
 983,
 984,
 986,
 988,
 989,
 990,
 992,
 994,
 995,
 996,
 999,
 1000,
 1004,
 1006,
 1007,
 1008,
 1009,
 1015,
 1017,
 1018,
 1019,
 1020,
 1022,
 1024,
 1025,
 1027,
 1029,
 1030,
 1033,
 1034,
 1035,
 1036,
 1037,
 1040,
 1044,
 1045,
 1047,
 1048,
 1050,
 1051,
 1053,
 1054,
 1055,
 1057,
 1058,
 1060,
 1061,
 1063,
 1065,
 1069,
 1070,
 1071,
 1072,
 1073,
 1076,
 1077,
 1078,
 1079,
 1080,
 1081,
 1082,
 1083,
 1084,
 1085,
 1088,
 1090,
 1091,
 1093,
 1095,
 1096,
 1100,
 1102,
 1105,
 1106,
 1107,
 1108,
 1109,
 1112,
 1113,
 1114,
 1115,
 1116,
 1119,
 1120,
 1122,
 1125,
 1126,
 1127,
 1129,
 1131,
 1133,
 1134,
 1135,
 1137,
 1139,
 1142,
 1144,
 1145,
 1148,
 1152,
 1155,
 1156,
 1157,
 1160,
 1162,
 1164,
 1165,
 1166,
 1168,
 1170,
 1172,
 1174,
 1175,
 1176,
 1178,
 1180,
 1181,
 1183,
 1185,
 1186,
 1187,
 1189,
 1191,
 1192,
 1194,
 1196,
 1197,
 1199,
 1205,
 1206,
 1207,
 1209,
 1211,
 1214,
 1215,
 1216,
 1219,
 1220,
 1221,
 1223,
 1224,
 1225,
 1226,
 1228,
 1229,
 1231,
 1233,
 1234,
 1235,
 1237,
 1238,
 1241,
 1243,
 1244,
 1246,
 1248,
 1251,
 1252,
 1253,
 1254,
 1257,
 1259,
 1261,
 1262,
 1265,
 1267,
 1268,
 1271,
 1272,
 1274,
 1276,
 1277,
 1279,
 1280,
 1281,
 1284,
 1287,
 1288,
 1290,
 1292,
 1294,
 1295,
 1297,
 1299,
 1301,
 1302,
 1305,
 1308,
 1309,
 1311,
 1313,
 1315,
 1317,
 1319,
 1320,
 1322,
 1325,
 1326,
 1327,
 1328,
 1329,
 1330,
 1331,
 1332,
 1333,
 1336,
 1337,
 1341,
 1342,
 1347,
 1349,
 1352,
 1354,
 1357,
 1359,
 1361,
 1363,
 1365,
 1367,
 1368,
 1369,
 1371,
 1372,
 1373,
 1375,
 1376,
 1380,
 1381,
 1382,
 1384,
 1387,
 1389,
 1390,
 1392,
 1394,
 1395,
 1398,
 1399,
 1400,
 1401,
 1402,
 1403,
 1404,
 1405,
 1406,
 1407,
 1408,
 1409,
 1410,
 1411,
 1412,
 1414,
 1415,
 1416,
 1417,
 1419,
 1420,
 1421,
 1422,
 1423,
 1424,
 1425,
 1426,
 1427,
 1429,
 1430,
 1432,
 1434,
 1437,
 1438,
 1439,
 1440,
 1442,
 1443,
 1444,
 1445,
 1446,
 1450,
 1451,
 1452,
 1453,
 1454,
 1455,
 1456,
 1458,
 1460,
 1461,
 1462,
 1463,
 1466,
 1469,
 1470,
 1471,
 1472,
 1473,
 1476,
 1478,
 1479,
 1481,
 1483,
 1486,
 1488,
 1490,
 1492,
 1494,
 1495,
 1499,
 1504,
 1506,
 1507,
 1509,
 1511,
 1513,
 1520,
 1521,
 1524,
 1525,
 1528,
 1530,
 1532,
 1533,
 1535,
 1537,
 1538,
 1540,
 1542,
 1548,
 1550,
 1552,
 1555,
 1557,
 1563,
 1565,
 1566,
 1568,
 1569,
 1570,
 1572,
 1573,
 1574,
 1576,
 1577,
 1578,
 1579,
 1580,
 1581,
 1584,
 1586,
 1589,
 1590,
 1592,
 1593,
 1594,
 1595,
 1597,
 1603,
 1604,
 1605,
 1607,
 1608,
 1610,
 1611,
 1613,
 1618,
 1619,
 1621,
 1622,
 1624,
 1625,
 1626,
 1628,
 1631,
 1633,
 1634,
 1635,
 1638,
 1639,
 1641,
 1642,
 1643,
 1644,
 1646,
 1647,
 1650,
 1651,
 1652,
 1654,
 1656,
 1657,
 1660,
 1661,
 1663,
 1665,
 1667,
 1669,
 1671,
 1673,
 1675,
 1676,
 1680,
 1682,
 1683,
 1686,
 1687,
 1692,
 1693,
 1696,
 1697,
 1701,
 1702,
 1703,
 1704,
 1706,
 1707,
 1708,
 1709,
 1710,
 1712,
 1714,
 1716,
 1717,
 1719,
 1720,
 1722,
 1724,
 ...]

In [43]:
e_only_data = pe_df[pe_df['matches_group_id'].isin(only_e_groups)]
e_only_data

,record_index,MMS_ID,Title,OCN,ISSN,Related_OCNs,Related_ISSNs,Vol_nos,Gov_doc_nos,OCN_cluster,ISSN_cluster,p_or_e,ISSN_group_id,OCN_group_id,both_groups,matches_group_id,ISSN_to_match
5,105867,9977176693001701,Paraphrasis in omnes epistolas Apostolicas.,[944177912],[],[(OCoLC)1002244040],[],[],[],"[944177912, (OCoLC)1002244040]",[],e,[97748i],[0o],"[97748i, 0o]",1,
8,115629,9977077183601701,Oil Heat Commercial.,[715153010],[],[],[],[],[],[715153010],[],e,[100003i],[102418o],"[100003i, 102418o]",3,
12,115633,9977077232801701,The Other Side of the Fence /,[747798553],[],[],[],[],[],[747798553],[],e,[100007i],[103775o],"[100007i, 103775o]",6,
21,115643,9977173932501701,Climate policy and nonrenewable resources :,[(OCoLC-P)890414912],[],"[1081186361, 1055322052, 962662197, 961567878,...",[],[],[],"[1066448484, 1081186361, 889930911, 961567878,...",[],e,[100012i],[3212o],"[100012i, 3212o]",10,
22,115645,9977174066201701,Meaning and the Dynamics of Interpretation :,[862050200],[],[],[],[29.],[],[862050200],[],e,[100014i],[109995o],"[100014i, 109995o]",11,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129084,115617,9977076678201701,Boys Alone /,[747796406],[],[],[],[],[],[747796406],[],e,[99991i],[103731o],"[99991i, 103731o]",101705,
129086,115619,9977076887201701,"World fashion tour. Volume 6, Episode 2 /",[1112144940],[],[],[],[],[],[1112144940],[],e,[99993i],[5986o],"[99993i, 5986o]",101707,
129087,115620,9977077010801701,The Power of Vision /,[856905906],[],[],[],[],[],[856905906],[],e,[99994i],[109613o],"[99994i, 109613o]",101708,
129089,115621,9977077013001701,The quarry /,[985056105],[],[],[],[],[],[985056105],[],e,[99995i],[116206o],"[99995i, 116206o]",101710,
129091,115624,9977077059701701,Fall of Singapore.,[677927626],[],[],[],[],[],[677927626],[],e,[99998i],[100405o],"[99998i, 100405o]",101712,

In [44]:
e_only_data.to_pickle('e_only_' + today + '.pkl')
e_only_data.to_csv('e_only_' + today + '.txt',sep='\t',index=False)

In [45]:
p_and_e = find_only_p_or_e[find_only_p_or_e['pore'] == 'e p']
p_and_e

,matches_group_id,record_index,p_or_e,MMS_ID,pore
0,0,"[52478, 58136, 60626, 87349, 105258]","[e, p]","[9913446020001701, 9934112930001701, 993522433...",e p
2,2,"[69875, 113344]","[e, p]","[9939153590001701, 9968879310001701]",e p
5,5,"[57684, 128733]","[e, p]","[9963550760001701, 9968441380001701]",e p
7,7,"[78492, 107439, 112352]","[e, p]","[9933370000001701, 9967145520001701, 996775956...",e p
8,8,"[22912, 76329, 115640]","[e, p]","[9957818690001701, 9963623700001701]",e p
...,...,...,...,...,...
101632,101632,"[77028, 115389]","[e, p]","[9959389050001701, 9968529900001701]",e p
101648,101648,"[9571, 107676]","[e, p]","[9946120900001701, 9974758564401701]",e p
101650,101650,"[2519, 112774]","[e, p]","[9939323230001701, 9968144710001701]",e p
101667,101667,"[21367, 105065]","[e, p]","[9935136780001701, 9969162920001701]",e p
101697,101697,"[14688, 114862]","[e, p]","[9933514930001701, 9977101571201701]",e p

In [46]:
pe_groups = list(p_and_e['matches_group_id'])
print(len(pe_groups))
pe_groups

16937

[0,
 2,
 5,
 7,
 8,
 9,
 12,
 20,
 33,
 46,
 50,
 61,
 63,
 77,
 83,
 92,
 99,
 183,
 188,
 193,
 202,
 213,
 217,
 227,
 233,
 236,
 252,
 254,
 257,
 259,
 264,
 266,
 267,
 270,
 273,
 277,
 281,
 284,
 291,
 292,
 315,
 326,
 327,
 340,
 373,
 375,
 398,
 422,
 431,
 433,
 434,
 440,
 461,
 462,
 466,
 477,
 496,
 501,
 511,
 513,
 526,
 533,
 537,
 544,
 555,
 584,
 588,
 627,
 629,
 635,
 638,
 639,
 660,
 674,
 686,
 702,
 707,
 711,
 720,
 739,
 744,
 747,
 764,
 784,
 798,
 803,
 804,
 819,
 822,
 826,
 838,
 875,
 877,
 879,
 889,
 895,
 899,
 902,
 914,
 919,
 936,
 956,
 967,
 969,
 1001,
 1003,
 1005,
 1016,
 1026,
 1038,
 1039,
 1042,
 1056,
 1066,
 1074,
 1086,
 1087,
 1094,
 1098,
 1103,
 1104,
 1132,
 1140,
 1141,
 1149,
 1154,
 1163,
 1177,
 1184,
 1193,
 1204,
 1208,
 1227,
 1240,
 1245,
 1266,
 1273,
 1286,
 1289,
 1307,
 1310,
 1312,
 1316,
 1334,
 1338,
 1339,
 1340,
 1345,
 1350,
 1351,
 1356,
 1364,
 1370,
 1377,
 1383,
 1413,
 1449,
 1468,
 1475,
 1491,
 1497,
 1505,
 1508,
 1510,
 1518,
 1526,
 1527,
 1531,
 1534,
 1536,
 1547,
 1562,
 1596,
 1606,
 1615,
 1617,
 1629,
 1630,
 1632,
 1645,
 1674,
 1678,
 1688,
 1695,
 1700,
 1711,
 1725,
 1730,
 1745,
 1752,
 1769,
 1770,
 1771,
 1772,
 1773,
 1774,
 1809,
 1812,
 1830,
 1846,
 1855,
 1857,
 1862,
 1869,
 1871,
 1892,
 1902,
 1920,
 1940,
 1949,
 1954,
 1960,
 2045,
 2051,
 2053,
 2057,
 2059,
 2063,
 2065,
 2067,
 2078,
 2097,
 2100,
 2102,
 2137,
 2163,
 2167,
 2185,
 2198,
 2207,
 2219,
 2221,
 2224,
 2229,
 2233,
 2245,
 2247,
 2255,
 2266,
 2280,
 2297,
 2299,
 2305,
 2308,
 2317,
 2322,
 2325,
 2331,
 2337,
 2339,
 2340,
 2344,
 2347,
 2353,
 2356,
 2360,
 2364,
 2365,
 2367,
 2377,
 2392,
 2394,
 2405,
 2435,
 2461,
 2471,
 2479,
 2483,
 2492,
 2505,
 2517,
 2519,
 2529,
 2534,
 2537,
 2557,
 2561,
 2571,
 2574,
 2575,
 2592,
 2596,
 2603,
 2604,
 2616,
 2617,
 2619,
 2623,
 2684,
 2686,
 2701,
 2708,
 2709,
 2714,
 2725,
 2731,
 2734,
 2738,
 2743,
 2746,
 2775,
 2799,
 2808,
 2826,
 2831,
 2839,
 2849,
 2874,
 2908,
 2938,
 2951,
 2959,
 2961,
 2978,
 2990,
 2993,
 3017,
 3023,
 3032,
 3065,
 3070,
 3084,
 3091,
 3095,
 3097,
 3115,
 3119,
 3126,
 3156,
 3172,
 3176,
 3194,
 3195,
 3197,
 3214,
 3216,
 3222,
 3242,
 3255,
 3258,
 3266,
 3268,
 3275,
 3276,
 3278,
 3279,
 3302,
 3314,
 3353,
 3370,
 3378,
 3384,
 3387,
 3396,
 3399,
 3401,
 3413,
 3414,
 3434,
 3436,
 3437,
 3441,
 3443,
 3447,
 3448,
 3473,
 3475,
 3477,
 3478,
 3483,
 3489,
 3511,
 3513,
 3518,
 3523,
 3526,
 3532,
 3544,
 3547,
 3555,
 3557,
 3561,
 3563,
 3564,
 3571,
 3572,
 3573,
 3574,
 3575,
 3582,
 3586,
 3588,
 3590,
 3592,
 3600,
 3606,
 3621,
 3646,
 3674,
 3676,
 3678,
 3682,
 3685,
 3686,
 3689,
 3692,
 3698,
 3699,
 3702,
 3716,
 3720,
 3724,
 3728,
 3735,
 3738,
 3740,
 3742,
 3748,
 3760,
 3764,
 3768,
 3773,
 3774,
 3781,
 3788,
 3794,
 3804,
 3806,
 3818,
 3825,
 3828,
 3840,
 3841,
 3842,
 3850,
 3851,
 3858,
 3859,
 3861,
 3874,
 3875,
 3876,
 3879,
 3886,
 3892,
 3893,
 3896,
 3899,
 3900,
 3905,
 3906,
 3917,
 3919,
 3920,
 3924,
 3928,
 3933,
 3935,
 3940,
 3952,
 3960,
 3962,
 3965,
 3973,
 3979,
 3982,
 3986,
 3989,
 3993,
 3995,
 4011,
 4013,
 4018,
 4029,
 4031,
 4035,
 4037,
 4045,
 4058,
 4078,
 4080,
 4085,
 4086,
 4093,
 4096,
 4103,
 4105,
 4106,
 4110,
 4113,
 4117,
 4121,
 4133,
 4136,
 4141,
 4145,
 4148,
 4160,
 4170,
 4175,
 4179,
 4181,
 4188,
 4193,
 4201,
 4209,
 4211,
 4213,
 4219,
 4237,
 4241,
 4250,
 4251,
 4253,
 4258,
 4263,
 4265,
 4273,
 4277,
 4284,
 4298,
 4300,
 4308,
 4310,
 4315,
 4319,
 4321,
 4322,
 4325,
 4332,
 4337,
 4338,
 4344,
 4356,
 4361,
 4368,
 4376,
 4377,
 4380,
 4381,
 4382,
 4384,
 4385,
 4393,
 4394,
 4396,
 4399,
 4401,
 4405,
 4415,
 4420,
 4421,
 4422,
 4426,
 4431,
 4440,
 4444,
 4450,
 4451,
 4452,
 4465,
 4467,
 4468,
 4470,
 4491,
 4494,
 4495,
 4506,
 4508,
 4511,
 4513,
 4516,
 4519,
 4523,
 4537,
 4542,
 4575,
 4588,
 4592,
 4606,
 4611,
 4618,
 4626,
 4627,
 4630,
 4645,
 4675,
 4690,
 4693,
 4694,
 4707,
 4714,
 4716,
 4728,
 4744,
 4746,
 4751,
 4753,
 4764,
 4770,
 4789,
 4825,
 4832,
 4846,
 4850,
 4851,
 4855,
 4877,
 4894,
 4897,
 4899,
 4904,
 4907,
 4909,
 4915,
 4920,
 4922,
 4934,
 4938,
 4943,
 4954,
 4961,
 4977,
 4981,
 4982,
 4983,
 4991,
 4993,
 4997,
 4999,
 5002,
 5004,
 5007,
 5009,
 5013,
 5035,
 5052,
 5053,
 5057,
 5058,
 5064,
 5077,
 5087,
 5088,
 5093,
 5098,
 5102,
 5110,
 5120,
 5121,
 5124,
 5136,
 5139,
 5145,
 5186,
 5225,
 5233,
 5244,
 5327,
 5340,
 5346,
 5360,
 5366,
 5367,
 5371,
 5387,
 5403,
 5405,
 5413,
 5420,
 5433,
 5450,
 5454,
 5463,
 5472,
 5473,
 5485,
 5499,
 5552,
 5596,
 5600,
 5605,
 5619,
 5620,
 5624,
 5627,
 5634,
 5660,
 5664,
 5665,
 5671,
 5673,
 5677,
 5678,
 5684,
 5695,
 5699,
 5700,
 5702,
 5704,
 5705,
 5709,
 5710,
 5712,
 5714,
 5716,
 5743,
 5754,
 5757,
 5762,
 5787,
 5788,
 5795,
 5826,
 5843,
 5857,
 5862,
 5877,
 5912,
 5913,
 5915,
 5922,
 5926,
 5929,
 5956,
 5958,
 5972,
 5973,
 5989,
 5997,
 6011,
 6012,
 6017,
 6022,
 6030,
 6060,
 6097,
 6100,
 6101,
 6109,
 6110,
 6120,
 6126,
 6141,
 6148,
 6149,
 6154,
 6155,
 6160,
 6175,
 6181,
 6182,
 6195,
 6201,
 6202,
 6203,
 6205,
 6209,
 6213,
 6221,
 6228,
 6234,
 6240,
 6246,
 6251,
 6252,
 6258,
 6272,
 6273,
 6280,
 6294,
 6298,
 6311,
 6312,
 6313,
 6326,
 6331,
 6333,
 6336,
 6346,
 6352,
 6353,
 6359,
 6365,
 6367,
 6368,
 6371,
 6380,
 6384,
 6392,
 6403,
 6408,
 6411,
 6414,
 6419,
 6421,
 6424,
 6426,
 6428,
 6429,
 6430,
 6432,
 6433,
 6434,
 6435,
 6436,
 6442,
 6444,
 6451,
 6456,
 6457,
 6468,
 6473,
 6475,
 6476,
 6490,
 6506,
 6511,
 6512,
 6528,
 6531,
 6543,
 6550,
 6559,
 6560,
 6561,
 6570,
 6586,
 6587,
 6591,
 6593,
 6596,
 6604,
 6609,
 6619,
 6627,
 6636,
 6637,
 6669,
 6685,
 6687,
 6714,
 6727,
 6728,
 6783,
 6797,
 6801,
 6804,
 6806,
 6815,
 6816,
 6817,
 6821,
 6825,
 6826,
 6829,
 6831,
 6835,
 6841,
 6849,
 6851,
 6852,
 6855,
 6857,
 6885,
 6894,
 6899,
 6916,
 6919,
 6921,
 6924,
 6928,
 6933,
 6935,
 6937,
 6939,
 6941,
 6943,
 6945,
 6948,
 6958,
 6959,
 6972,
 6977,
 6978,
 6993,
 6998,
 7000,
 7004,
 7005,
 7012,
 7020,
 7041,
 7060,
 7074,
 7116,
 7120,
 7129,
 7141,
 7146,
 7147,
 7148,
 7149,
 7152,
 7156,
 7161,
 7164,
 7169,
 7170,
 7181,
 7182,
 7183,
 7193,
 7195,
 7199,
 7210,
 7220,
 7221,
 7227,
 7238,
 7241,
 7242,
 7252,
 7254,
 7257,
 7258,
 7266,
 7268,
 7287,
 7298,
 7302,
 7320,
 7335,
 7339,
 7340,
 7341,
 7352,
 7355,
 7356,
 7358,
 7362,
 7399,
 7403,
 7404,
 7420,
 7426,
 7435,
 7440,
 7446,
 7462,
 7473,
 7477,
 7478,
 7505,
 7511,
 7515,
 7520,
 7590,
 7600,
 7613,
 7618,
 7631,
 7633,
 7636,
 7638,
 7650,
 7651,
 7652,
 7664,
 7669,
 7687,
 7692,
 7700,
 7701,
 7702,
 7705,
 7708,
 7709,
 7711,
 7718,
 7721,
 7726,
 7741,
 7744,
 7752,
 7753,
 7762,
 7768,
 7779,
 7784,
 7786,
 7789,
 7798,
 7802,
 7808,
 7809,
 7812,
 7814,
 7825,
 7869,
 ...]

In [47]:
p_and_e_data = pe_df[pe_df['matches_group_id'].isin(pe_groups)]
p_and_e_data

,record_index,MMS_ID,Title,OCN,ISSN,Related_OCNs,Related_ISSNs,Vol_nos,Gov_doc_nos,OCN_cluster,ISSN_cluster,p_or_e,ISSN_group_id,OCN_group_id,both_groups,matches_group_id,ISSN_to_match
0,87349,9935224330001701,Publishers' world.,[988619],[0555-6384],"[2489456, 567791231, 1695359]",[0000-0019],[],[],"[567791231, 1695359, 988619, 2489456]","[0000-0019, 0555-6384]",p,[0i],[35959o],"[0i, 35959o]",0,0555-6384
1,105258,9967008940001701,Publishers weekly,[37309426],[2150-4008],[],[0000-0019],[],[],[37309426],"[2150-4008, 0000-0019]",e,[0i],[35959o],"[0i, 35959o]",0,2150-4008
2,58136,9913446020001701,Publishers weekly yearbook,[9604938],[0000-0469],[],[0000-0019],[],[],[9604938],"[0000-0469, 0000-0019]",p,[0i],[35959o],"[0i, 35959o]",0,0000-0469
3,60626,9934112930001701,Publishers weekly,[2489456],[0000-0019],"[37309426, 9604938]","[0000-0019, 000--0019, 0000-0469, 2150-4008]",[],[],"[37309426, 9604938, 2489456]","[2150-4008, 0000-0469, 0000-0019]",p,[0i],[35959o],"[0i, 35959o]",0,0000-0019
4,52478,9937257820001701,The Book publishing annual,[1114932096],[0000-0787],[],[0000-0019],[],[],[1114932096],"[0000-0787, 0000-0019]",p,[0i],[9122o],"[0i, 9122o]",0,0000-0787
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129003,2519,9939323230001701,UNLV gaming law journal.,[666937502],[],[],[],[],[],[666937502],[],p,[48442i],[99928o],"[48442i, 99928o]",101650,
129020,21367,9935136780001701,Northern history,[1760664],[0078-172X],[],[],[],[],[1760664],[0078-172X],p,[9994i],[40621o],"[9994i, 40621o]",101667,0078-172X
129021,105065,9969162920001701,Northern history.,[679734406],[1745-8706],[],[0078-172X],[],[],[679734406],"[0078-172X, 1745-8706]",e,[9994i],[100478o],"[9994i, 100478o]",101667,1745-8706
129074,114862,9977101571201701,Oriental insects,[668436876],[2157-8745],[],[0030-5316],[],[],[668436876],"[0030-5316, 2157-8745]",e,[5104i],[99982o],"[5104i, 99982o]",101697,2157-8745
129075,14688,9933514930001701,Oriental insects,[1761507],[0030-5316],[],[],[],[],[1761507],[0030-5316],p,[5104i],[40822o],"[5104i, 40822o]",101697,0030-5316

In [48]:
p_and_e_data.to_pickle('p_and_e_' + today + '.pkl')
#p_and_e_data.to_csv('p_and_e_' + today + '.txt',sep='\t',index=False)